* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f4;
}

.container {
  width: 700px;
  background: #fff;
  margin: 0 auto;
  padding: 1.5rem;

  .header {
    font-size: 3rem;
    text-align: center;
  }

  .about {
    font-size: 1.2rem;
    margin-top: 1.3rem;

    &-profile {
      margin-top: 1.3rem;
      width: 100%;
      display: flex;
      align-items: flex-start;

      &-image {
        width: 40%;
        height: 250px;
        margin-right: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      p {
        width: 60%;
      }

      ul {
        margin-top: 1.3rem;
      }
    }
  }

  .video {
    width: 100%;
    height: 300px;
    margin: 1.3rem 0;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.class {
  background-color: green;
}
